extends layout

block content
    script.
        var something = function() {
            window.location.assign('/newuser')
        }

    button(onclick='something()') Add New User 
    h1.
        User List
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.username
